<!DOCTYPE html>
<html lang="en" class="customizer-hide" dir="ltr" data-assets-path="{{ asset('assets/') }}" data-template="vertical-menu-template-no-customizer">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

      <title>{% block title %}Sneat Admin{% endblock %}</title>

      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon/favicon.ico') }}" />

      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

      <!-- Core CSS -->
      <link rel="stylesheet" href="{{ asset('assets/vendor/css/core.css') }}" />
      <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}" />

      {% block stylesheets %}{% endblock %}
  </head>

  <body>
      <!-- Content -->
      <div class="container flex-grow-1 container-p-y my-2">
          {% block body %}
          <h3>Welcome to Sneat Template!</h3>
          <p>This is the default content. Override this block in your child templates.</p>
          {% endblock %}
      </div>

      {% block javascripts %}{% endblock %}
  </body>
</html>
